.onoffswitch {
    position: fixed; width: 90px;z-index:9999 ;
    bottom:250px;
    left: 5px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 13px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "AR-ON";
    padding-left: 10px;
    background-color: #34A7C1; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "AR-OFF";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 18px; margin: 6px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 56px;
    border: 2px solid #999999; border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}

#map{
    position: fixed; width: 390px; height: 245px;z-index:999 ;
    bottom:0.1px;
    left: 0.1px;
}

#mapFrame{
    position: fixed; width: 383px; height: 244px;z-index:999 ;
    bottom:0.09px;
    left: 0.5px;
}

#scene{
    position: fixed; width: 390px; height:600px;
    z-index:99 ;
    bottom:300px;
    left:0.1px;
    top:0.1px;
}

#locate{
    position: fixed; width: 30px; height:30px;z-index:9999 ;
    bottom:250px;
    right: 5px;
    border: 0.5px solid rgba(255, 255, 255, 0.582);
    background-color: rgba(255, 255, 255, 0.2);
    margin-right: 0.25em;
}

#lb{
    position: fixed; width: 40px; height:40px;z-index:9999 ;
    bottom:253px;
    right: 8px;
}
